<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="baseheader(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}"></title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/recipe.css"/>
</head>
<body>

<div th:fragment="navbar(activeLink)">
    <ul class="nav justify-content-center">
        <li th:class="${#strings.equals(activeLink, 'Home')} ? 'nav-item active' : 'nav-item'">
            <a th:class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li th:class="${#strings.equals(activeLink, 'Recipes')} ? 'nav-item active' : 'nav-item'">
            <a class="nav-link" th:href="@{/recipe}">Recipes</a>
        </li>
        <li th:class="${#strings.equals(activeLink, 'Ingredients')} ? 'nav-item active' : 'nav-item'">
            <a class="nav-link" th:href="@{/ingredient}">Ingredients</a>
        </li>
        <li th:class="${#strings.equals(activeLink, 'Recipebooks')} ? 'nav-item active' : 'nav-item'">
            <a class="nav-link" th:href="@{/book}">Recipe books</a>
        </li>
    </ul>
</div>

<div th:fragment="footer">
    <footer><p class="text-center text text-muted">Copyright Equipa Primavera &copy;2024</p></footer>
</div>

<div th:fragment="bottomScripts">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>

</body>
</html>