<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <meta charset="UTF-8">
    <title>Add a new ingredient</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1>Create a new ingredient</h1>

    <form th:action = "@{/ingredient/new}" method="post" th:object = "${ingredient}">
        <table>
            <tr>
                <td><label for="measurementUnitField">Unit</label></td>
                <td><label for="nameIngredientField">Name</label></td>
            </tr>
            <tr>
                <td>
                    <select id="measurementUnitField" th:field="*{measurementUnit}">
                        <option th:each="measurement: ${allMeasurementTypes}"
                                th:text="${measurement.nameOfMeasurement}"
                                th:value="${measurement.measurementUnitId}">
                        </option>
                    </select>
                </td>
                <td>
                    <input type="text" id="nameIngredientField" th:field = "*{nameIngredient}">
                </td>
            </tr>
        </table>
        <input type="submit" value="Save ingredient">
    </form>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>