<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="|Detail for ${recipeToBeShown.nameOfRecipe}|"></title>
</head>
<body>

<h1>Recipe for <span th:text="${recipeToBeShown.nameOfRecipe}"></span></h1>

<h2>Follow these steps:</h2>
<table>
    <tr>
        <th>Recipe in steps</th>
    </tr>
    // tekst van recept


</table>

<form method="get" action="/book/add">
    <input type="hidden" name="nameRecipe" th:value="${recipeToBeShown.nameOfRecipe}">
    Add recipe to:<select name="recipebook"><option th:each="recipebook: ${allRecipebooks}"
                                                    th:text="${recipebook.nameOfRecipeBook}"
                                                    th:value="${recipebook.recipeBookId}">
</option></select> <input type="submit" value="save"></a>
</form>

</body>
</html>