<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new recipe</title>
</head>
<body>
<h1>Create a new recipe</h1>

<form th:action = "@{/recipe/new}" method="post" th:object = "${recipe}">
    <table>
        <tr>
            <td><label for="nameRecipeField">Name</label></td>
            <td><label for="ingredientRecipeField">Ingredients</label></td>
            <td><label for="categoryRecipeField">Category</label></td>
        </tr>
        <tr>
            <td>
                <input type="text" id="nameRecipeField" th:field = "*{nameOfRecipe}">
            </td>
            <td>
                <input type="text" id="ingredientRecipeField" th:field = "*{ingredientsOfRecipe}">
            </td>
            <td>
                <input type="text" id="categoryRecipeField" th:field = "*{categoryOfRecipe}">
            </td>
        </tr>
    </table>
    <input type="submit" value="Save recipe">
</form>
</body>
</html>